
<div>
  <app-login *ngIf="!isLoggedIn"></app-login>
  <div *ngIf="isLoggedIn">
   <!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
  <a routerLink="all_shops" class="brand">
    <i class='bx bxs-smile'></i>
    <span class="text">vanna360</span>
  </a>
  <ul class="side-menu top">
    <li class="active">
      <a routerLink="all_shops">
        <i class='bx bxs-dashboard' ></i>
        <span class="text">all shops</span>
      </a>
    </li>
    <li class="active">
      <a routerLink="/active_shops">
        <i class='bx bxs-basket'></i>
        <span class="text">active shops</span>
      </a>
    </li>
    <li class="active">
      <a routerLink="/suspended_shops">
        <i class='bx bxs-error-alt' ></i>
        <span class="text">suspended shops</span>
      </a>
    </li>
    <li class="active">
      <a routerLink="/premium_shops">
        <i class='bx bxs-dollar-circle' ></i>
        <span class="text">premium shops</span>
      </a>
    </li>
    <li class="active">
      <a routerLink="/trial_shops">
        <i class='bx bx-loader-circle' ></i>
        <span class="text">trial shops</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li class="active">
      <a href="#" class="logout">
        <i class='bx bxs-log-out-circle' ></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->
<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i (click)="addToggle()" class='bx bx-menu' ></i>
    <a routerLink="/all_shops" class="nav-link">menu</a>
  </nav>
  <!-- NAVBAR -->
  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" routerLink="/all_shops">Home</a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="box-info">
      <li>
        <i class='bx bx-store'></i>
        <span class="text">
          <h3>1020</h3>
          <p>total shops</p>
        </span>
      </li>
      <li>
        <i class='bx bx-body' ></i>
        <span class="text">
          <h3>2834</h3>
          <p>today logs</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-dollar-circle' ></i>
        <span class="text">
          <h3>2543</h3>
          <p>prime shops</p>
        </span>
      </li>
      <li>
        <i class='bx bx-error' ></i>
        <span class="text">
          <h3>2543</h3>
          <p>hang shops</p>
        </span>
      </li>
      <li>
        <i class='bx bx-loader-circle' ></i>
        <span class="text">
          <h3>2543</h3>
          <p>trial shops</p>
        </span>
      </li>
    </ul>
    <div class="table-data">
      <router-outlet></router-outlet>
    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
  </div>
</div>